@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
}
.container {
    width: 100%;
    height: 1854px;
}
header {
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.toggle {
    display: none;
    float: right;
    margin: 5px 10px 10px 0;
    font-size: 30px;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
}
a:hover {
    color: #FFDDE5;
}
.banner {
    position: relative;
    margin: 30px;
}
.fall {
    width: 100%;
    height: 130px;
}
.banner>h1 {
    position: absolute;
    top: 35%;
    left: 20px;
    font-weight: bold;
    color: #fff;
}
.middle {
    background: #FFDDE5;
    height: 1000px;
}
.season-fruit {
    display: inline;
}
.season-fruit h2,
.season-fruit h3 {
    margin: 20px 0 0 20px;
}
.season-fruit a {
    margin: 0;
}
.apple, .fig, .progranate {
    width: 80%;
}
.apple-comment, .fig-comment, .pomegranate-comment {
    width: 100%;
    display: inline-flex;
    word-break:break-all;
}
.apple-img, .fig-img, .pomegranate-img {
    width: 20%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
}
.textap, .textfig, .textpm {
    margin : 0 3%;
    width: 100%;
    display: inline;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
}
footer {
    background: #FFF795;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
} 
@media screen and (max-width: 992px) {
    .toggle {
        display: block;
        cursor: pointer;
    }
    .menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        /* width: 100%; */
        background-color: #faeac8;
        height: 0;
        overflow: hidden;
    }
    .item {
        justify-content: space-around;
        text-align: center;
    }
    .show-menu {
        width: 100%;
        height: 200px;
        margin: 0;
    }
}