@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
    outline: solid 1px red;
}
.container {
    max-width: 100%;
    height: 1854px;
}
nav {
    width: 100%;
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 25px;
}
.toggle {
    display: none;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
}
a:hover {
    color: #FFDDE5;
}
.spring {
    max-width: 100%;
    margin-top: 100px
}
.panel {
    margin-top: 100px;
}
.panel .title {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: #FFF795;
}
.left-panel {
    float: left;
    width: 50%;
}
.right-panel {
    float: right;
    width: 50%;
}
.today-fruit {
    margin-right: 15px;
}
.strawberry {
    max-width: 50%;
}
.fruit-commend {
    width: 50%;
    height: auto;
    float: right;
    background-color: #FFDDE5;
}
.strawberry-canape {
    max-width: 50%;
}
.receipe {
    width: 50%;
    height: auto;
    float: right;
    background-color: #FFDDE5;
}
footer {
    width: 100%;
    height: 54px;
    background: #FFF795;
}