@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    font-family: 'Noto Sans KR' sans-serif;
}
html {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.container {
    max-width: 100%;
    height: 1854px;
    padding: 0;
}
nav {
    background: #FFF795;
    width: 100%;
    height: 54px;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.toggle {
    display: none;
    float: right;
    margin: 5px 10px 10px 0;
    font-size: 30px;
}
.menu {
    float: right;
    margin: 0;
    font-size: 20px;
    margin : 15px 10px;
    /* margin : 0 0 0 0 = 상 우 하 좌
       margin : 0 0 = 상하 좌우
       margin : 0 4면 전체*/
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
a:hover {
    color: #FFDDE5;
}

li {
    list-style: none;
    float: left;
}
.nav-list {
    display: flex;
    column-gap: 0.75rem;
}

@media screen and (max-width: 992px) {
    .toggle {
        display: block;
        cursor: pointer;
    }
    .menu {
        left: 0;
        right: 0;
        /* width: 100%; */
        background-color: #fffac1;
        height: 0;
        overflow: hidden;
        opacity: 0.92;

    }
    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .show-menu {
        width: 100%;
        height: 200px;
        margin: 0;
    }
}