@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
    outline: solid 1px red;
}
.container {
    width: 100%;
    height: 1854px;
}
header {
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
}
a:hover {
    color: #FFDDE5;
}
.banner {
    position: relative;
    margin: 30px;
}
.spring {
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.banner>h1 {
    position: absolute;
    top: 30%;
    left: 20px;
    font-weight: bold;
}
.middle {
    background: #FFDDE5;
}
.season-fruit h2, p {
    margin-left: 20px;
}
.strawberry-img {
    width: 20%;
    height: 230px;
    margin: 20px;
}
.strawberry {
    background-color: #fff;
    float: right;
}
.hanrabong-img {
    width: 20%;
    height: 230px;
    margin: 20px;
}
.maesil-img {
    width: 20%;
    height: 230px;
    margin: 20px;
}