@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
    outline: solid 1px red;
}
.container {
    width: 100%;
    height: 1854px;
}
header {
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
    display: inline-block;
    ;
}
a:hover {
    color: #FFDDE5;
}
.banner {
    position: relative;
    margin: 30px;
}
.spring {
    width : auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.banner>h1 {
    position: absolute;
    top: 30%;
    left: 20px;
    font-weight: bold;
    color: #fff;
}
.middle {
    background: #FFDDE5;
}
.season-fruit {
    display: inline;
}
.season-fruit h3 {
    margin-left: 20px;
}

.strawberry, .hanra, .maesil {
    width: 80%;
}
.strawberry-comment, .hanra-comment, .maesil-comment {
    width: 100%;
    display: inline-flex;
    word-break:break-all;
}

.strawberry-img, .hanra-img, .maesil-img {
    width: 20%;
    height: 100%;
    text-align: center;
}
.a {
    margin : 0;
    padding: 0;
}
.textstr, .texthr, .textms {
    margin : 0 3%;
    width: 100%;
    display: inline;
    font-size: 20px;
}