@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
}
.container {
    max-width: 100%;
    height: 1854px;
}
nav {
    width: 100%;
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 25px;
    margin: 0;
}
.toggle {
    display: none;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
}
a:hover {
    color: #FFDDE5;
}
.middle {
    height: 1000px;
    background: #FFDDE5;
}
.strawberry-receipe {
    background: #FFDDE5;
    margin: 20px 0 20px 0;
}
.strawberry-receipe h3 {
    font-weight: normal;
    text-align: center;
    margin: 40px;
}
.polaroid {
    background: #fff;
    border-width: 6px 6px 20px 6px;
    box-shadow: 1px 1px 5px #333;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.strawberry-canape,
.strawberry-jam,
.strawberry-smoothie,
.strawberry-syrup,
.strawberry-mozzi,
.strawberry-sandwich {
    float: left;
    margin: 20px 10px 10px 30px;
    padding: 40px;
}
.strawberry-canape-img,
.strawberry-jam-img,
.strawberry-smoothie-img,
.strawberry-syrup-img,
.strawberry-mozzi-img,
.strawberry-sandwich-img {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}