@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
    outline: solid 1px red;
}
.container {
    max-width: 100%;
    height: 1854px;
}
nav {
    width: 100%;
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 25px;
}
.toggle {
    display: none;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
}
a:hover {
    color: #FFDDE5;
}
.strawberry-receipe {
    background: #FFDDE5;
    margin: 20px 0 20px 0;
}
.strawberry-receipe h3 {
    font-weight: normal;
    text-align: center;
    margin: 40px;
}
.strawberry-canape,
.strawberry-jam,
.strawberry-smoothie,
.strawberry-syrup,
.strawberry-mozzi,
.strawberry-sandwich {
    background: #fff;
    width: 331px;
    height: 395px;
    border-radius: 10px;
    margin: 10px;
    padding: 40px;
}
.strawberry-canape-img,
.strawberry-jam-img,
.strawberry-smoothie-img,
.strawberry-syrup-img,
.strawberry-mozzi-img,
.strawberry-sandwich-img {
    width: 274px;
    height: 268px;
    display: block;
    margin: auto;
}