@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR' sans-serif;
}
.container {
    width: 100%;
    height: 1854px;
}
header {
    margin: 0;
    background: #FFF795;
}
.logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.menu {
    float: right;
    margin: 15px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 20px;
    display: inline-block;
    ;
}
a:hover {
    color: #FFDDE5;
}
.banner {
    position: relative;
    margin: 30px;
}
.summer {
    width: 100%
}
.banner>h1 {
    position: absolute;
    top: 30%;
    left: 20px;
    font-weight: bold;
    color: #fff;
}
.middle {
    background-color: #FFDDE5;
}
.season-fruit {
    display: inline;
}
.season-fruit h2 {
    color: #fff;
    margin-left: 20px;
}

.season-fruit h3 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
}
.watermelon, .grape, .peach {
    width: 80%;
}
.watermelon-img, .peach-img, .grape-img {
    width: 20%;
    height: 100%;
    text-align: center;
}
.peach-img, .grape-img {
    width: 30%;
}
.watermelon-comment, .grape-comment, .peach-comment {
    width: 100%;
    display: inline-flex;
    word-break:break-all;
    margin-left: 15px;
}
.textwt, .textgp, .textpc {
    margin : 0 3%;
    width: 100%;
    display: inline;
    font-size: 20px;
    background-color: #fff;
    border-radius: 3px 3px 3px 3px;

}